:root {
    --dark: #212529;
    --grey: #343A40;
    --white: #DEE2E6;
    --gradient-primary: #66101F;
    --gradient-secondary: #114B5F;
    --primary: #05668d;
    --secondary: #DE6E4B;
}

.weatherFont {
    font-size: 50px;
    text-align: center;
    user-select: none;
}

.centerContent {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.weekMain {
    display: block;
    cursor: pointer;
    user-select: none;
}

.weekAlt {
    display: none;
    cursor: pointer;
    user-select: none;
}


.extra-font {
    font-size: 20px;
}



#test {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.noUserSelect {
    user-select: none;
}

/* Media queries ------------------------------------------------------------------------------------------- */


/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) {


    #test {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 990px) {
    .extra-font {
        font-size: 15px !important;
    }

}

/* Medium devices (tablets, 768px and up) md */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    #test {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}







/* Color Theme ------------------------------------------------------------------------------------------- */

.text-theme-white {
    color: var(--white);
    user-select: none;
}

.bg-theme-grey {
    background-color: var(--grey);

}

.bg-theme-dark {
    background-color: var(--dark);

}

.text-theme-higlight {
    color: var(--secondary);
}